<html>
	<head>
		<link rel="stylesheet" type="text/css" href="style.css">
		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
		<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
   		<h1  id = "title">Generate QR Code</h1>
<br><br>
		<div class = "container-fluid">
			<form action="/generateqr/create" method="POST">

				<input id = "emp_id" type="text" class="form-control emp_box" name="Employee Id" placeholder="Employee Id">
				<div class="center">
					<input type="submit" class="btn btn-success">
				</div>

			</form>
		</div>
	</body>
</html>