#title { 
	text-align: center;
	background-color: #dff0d8;
	padding: 20px 0px;
}

#form{
	text-align: center;
}

form .emp_box {
	height: 50px;
	font-size: 30px;
}

form .btn {
	width: 200px;
	height: 50px;
	font-size: 25;
}

.center {
	width: 200px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}
